In [1]:
# initial imports
import pandas as pd
import numpy as np
from path import Path
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Load data
file_path = Path("Resources/winemag-data_cleaned.csv")
wine_df = pd.read_csv(file_path)
wine_df.head()

,points,price,country,designation,province,region_1,variety,winery,tokens,filtered_tokens,1,2,3,4,5,6,7,8,9,10
0,96.0,235.0,12,20,6,24,2,15,60,36,2701.0,16004.0,23236.0,28401.0,33079.0,39068.0,45330.0,46582.0,63420.0,66669.0
1,96.0,110.0,11,20,26,26,9,15,51,31,11481.0,33140.0,41643.0,46758.0,55709.0,59455.0,69650.0,79653.0,104662.0,106432.0
2,96.0,90.0,12,20,6,26,19,15,47,30,10077.0,26468.0,32151.0,49402.0,61157.0,64289.0,76272.0,88398.0,99749.0,119775.0
3,96.0,65.0,12,22,27,46,12,15,62,43,1546.0,4238.0,13171.0,15324.0,16356.0,25381.0,33140.0,46758.0,56257.0,67144.0
4,95.0,66.0,4,20,31,26,9,15,66,37,1546.0,17161.0,18176.0,31536.0,33140.0,48479.0,49526.0,65848.0,88378.0,90392.0

In [3]:
# Data types
wine_df.dtypes

points             float64
price              float64
country              int64
designation          int64
province             int64
region_1             int64
variety              int64
winery               int64
tokens               int64
filtered_tokens      int64
1                  float64
2                  float64
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
dtype: object

In [4]:
# find null values
for column in wine_df.columns:
    print(f"Column {column} has {wine_df[column].isnull().sum()} null values")

Column points has 0 null values
Column price has 0 null values
Column country has 0 null values
Column designation has 0 null values
Column province has 0 null values
Column region_1 has 0 null values
Column variety has 0 null values
Column winery has 0 null values
Column tokens has 0 null values
Column filtered_tokens has 0 null values
Column 1 has 0 null values
Column 2 has 0 null values
Column 3 has 0 null values
Column 4 has 0 null values
Column 5 has 0 null values
Column 6 has 0 null values
Column 7 has 0 null values
Column 8 has 0 null values
Column 9 has 0 null values
Column 10 has 0 null values

In [5]:
#Transform features
wine_df["1"] = wine_df["1"] / 100
wine_df["2"] = wine_df["2"] / 100
wine_df["3"] = wine_df["3"] / 100
wine_df["4"] = wine_df["4"] / 100
wine_df["5"] = wine_df["5"] / 100
wine_df["6"] = wine_df["6"] / 100
wine_df["7"] = wine_df["7"] / 100
wine_df["8"] = wine_df["8"] / 100
wine_df["9"] = wine_df["9"] / 100
wine_df["10"] = wine_df["10"] / 100
wine_df.head()

,points,price,country,designation,province,region_1,variety,winery,tokens,filtered_tokens,1,2,3,4,5,6,7,8,9,10
0,96.0,235.0,12,20,6,24,2,15,60,36,27.01,160.04,232.36,284.01,330.79,390.68,453.30,465.82,634.20,666.69
1,96.0,110.0,11,20,26,26,9,15,51,31,114.81,331.40,416.43,467.58,557.09,594.55,696.50,796.53,1046.62,1064.32
2,96.0,90.0,12,20,6,26,19,15,47,30,100.77,264.68,321.51,494.02,611.57,642.89,762.72,883.98,997.49,1197.75
3,96.0,65.0,12,22,27,46,12,15,62,43,15.46,42.38,131.71,153.24,163.56,253.81,331.40,467.58,562.57,671.44
4,95.0,66.0,4,20,31,26,9,15,66,37,15.46,171.61,181.76,315.36,331.40,484.79,495.26,658.48,883.78,903.92

In [6]:
# Define the features set.
X = wine_df.copy()
X = X.drop("country", axis=1)
X = X.drop("province", axis=1)
X = X.drop("region_1", axis=1)
X = X.drop("winery", axis=1)
X = X.drop("designation", axis=1)
X.head()

,points,price,variety,tokens,filtered_tokens,1,2,3,4,5,6,7,8,9,10
0,96.0,235.0,2,60,36,27.01,160.04,232.36,284.01,330.79,390.68,453.30,465.82,634.20,666.69
1,96.0,110.0,9,51,31,114.81,331.40,416.43,467.58,557.09,594.55,696.50,796.53,1046.62,1064.32
2,96.0,90.0,19,47,30,100.77,264.68,321.51,494.02,611.57,642.89,762.72,883.98,997.49,1197.75
3,96.0,65.0,12,62,43,15.46,42.38,131.71,153.24,163.56,253.81,331.40,467.58,562.57,671.44
4,95.0,66.0,9,66,37,15.46,171.61,181.76,315.36,331.40,484.79,495.26,658.48,883.78,903.92

In [7]:
# Define the target set.
y = wine_df["country"].values
y[:5]

array([12, 11, 12, 12,  4], dtype=int64)

In [8]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, train_size=0.80)

In [9]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(109737, 15)
(27435, 15)
(109737,)
(27435,)

In [10]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [11]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [12]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Fitting the Decision Tree Model

In [13]:
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [14]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [15]:
print(model)

DecisionTreeClassifier()

### Making Predictions Using the Tree Model

In [16]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

### Model Evaluation

In [17]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(cm)
    #cm, index=["Actual High", "Actual Low", "Actual Med", "Actual Top Shelf"], columns=["Predicted High", "Predicted Low", "Predicted Med", "Predicted Top Shelf"])

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [18]:
print(cm)

[[  836    12     1    44    40     1    27     3     9     6    12    30
     84]
 [    7   653     5    26    22    12    26    10    11     4    23    25
    150]
 [    1    11   340     7    30    25    47     9     4    16     5    17
     44]
 [   59    35     7   741    35     0    48    17    12     4    20    45
    144]
 [   28    37    36    30  2085    28    91    34    31    26    18    33
    383]
 [    0    17    17     6    20   348     8     4     4     1     0     6
     37]
 [   26    27    40    39    87     6  3033     8    45    39    27    99
    337]
 [    2     6     2    17    13     4     5   420     2     0     8     7
    117]
 [   14    12     6    14    27     8    51     1   327     9     3    24
     89]
 [    6     5    12     5    31     0    41     1    13   640     8    12
     52]
 [    6    21     0    22    15     1    27     4     8     2   259    16
     73]
 [   42    17    12    32    33     4   124     1    29    20    18  1133
    132]
 [  103   159    51   164   448    56   363   183   107    51    74   145
  10523]]

In [19]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

     0    1    2    3     4    5     6    7    8    9    10    11     12
0   836   12    1   44    40    1    27    3    9    6   12    30     84
1     7  653    5   26    22   12    26   10   11    4   23    25    150
2     1   11  340    7    30   25    47    9    4   16    5    17     44
3    59   35    7  741    35    0    48   17   12    4   20    45    144
4    28   37   36   30  2085   28    91   34   31   26   18    33    383
5     0   17   17    6    20  348     8    4    4    1    0     6     37
6    26   27   40   39    87    6  3033    8   45   39   27    99    337
7     2    6    2   17    13    4     5  420    2    0    8     7    117
8    14   12    6   14    27    8    51    1  327    9    3    24     89
9     6    5   12    5    31    0    41    1   13  640    8    12     52
10    6   21    0   22    15    1    27    4    8    2  259    16     73
11   42   17   12   32    33    4   124    1   29   20   18  1133    132
12  103  159   51  164   448   56   363  183  107   51   74   145  10523

Accuracy Score : 0.7777656278476399
Classification Report
              precision    recall  f1-score   support

           0       0.74      0.76      0.75      1105
           1       0.65      0.67      0.66       974
           2       0.64      0.61      0.63       556
           3       0.65      0.63      0.64      1167
           4       0.72      0.73      0.73      2860
           5       0.71      0.74      0.72       468
           6       0.78      0.80      0.79      3813
           7       0.60      0.70      0.65       603
           8       0.54      0.56      0.55       585
           9       0.78      0.77      0.78       826
          10       0.55      0.57      0.56       454
          11       0.71      0.71      0.71      1597
          12       0.87      0.85      0.86     12427

    accuracy                           0.78     27435
   macro avg       0.69      0.70      0.69     27435
weighted avg       0.78      0.78      0.78     27435

In [20]:
model.feature_importances_

array([0.05289027, 0.10106803, 0.23748124, 0.05804081, 0.0520171 ,
       0.05896561, 0.05235932, 0.05164725, 0.05221869, 0.04955766,
       0.04633869, 0.04549465, 0.0443662 , 0.04741727, 0.05013719])