In [19]:
import pandas as pd
file= 'winemag-data_first150k.csv'
df = pd.read_csv(file)
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96.0,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96.0,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96.0,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95.0,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [20]:
df.region_1.unique()

array(['Napa Valley', 'Toro', 'Knights Valley', ..., 'Listrac',
       'St.-Amour', 'Coteaux du Tricastin'], dtype=object)

In [35]:
import numpy as np
df['region_1'].replace('', np.nan, inplace=True)
df.count()

country        150924
description    150929
designation    105195
points         150929
price          137234
province       150924
region_1       125869
region_2        60952
variety        150929
winery         150929
Location       125869
dtype: int64

In [38]:
df.dropna(subset =['region_1'], inplace=True)
df.count()

country        125869
description    125869
designation     85614
points         125869
price          114392
province       125869
region_1       125869
region_2        60952
variety        125869
winery         125869
Location       125869
dtype: int64

In [39]:
df['region_1'].nunique()

1236

In [40]:
df['province'].nunique()

63

In [41]:
df['country'].nunique()

7

In [43]:
df["Location"]=df["region_1"]+", "+df["province"]+", "+ df["country"]
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,Location
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,"Napa Valley, California, US"
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96.0,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,"Toro, Northern Spain, Spain"
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96.0,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,"Knights Valley, California, US"
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96.0,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,"Willamette Valley, Oregon, US"
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95.0,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,"Bandol, Provence, France"

In [79]:
df_loc=df.drop(['country', 'description','designation', 'points','price','province','region_1', 'region_2', 'variety','winery'], axis=1)
df_loc.head()

                         Location
0     Napa Valley, California, US
1     Toro, Northern Spain, Spain
2  Knights Valley, California, US
3   Willamette Valley, Oregon, US
4        Bandol, Provence, France

In [86]:
df_loc=df_loc.drop_duplicates()
df_loc.count()

Location    1236
dtype: int64

In [88]:
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt

In [89]:
locator = Nominatim(user_agent='myGeocoder')
# testing to see if location format works
location = locator.geocode("Napa Valley, California, US")
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Latitude = 38.2971367, Longitude = -122.2855293

In [ ]:
from geopy.extra.rate_limiter import RateLimiter

#function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# create location column
df_loc['location'] = df_loc['Location'].apply(geocode)
# create longitude, latitudefrom location column (returns tuple)
df_loc['point'] = df_loc['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# split point column into latitude, longitude columns
df_loc[['latitude', 'longitude']] = pd.DataFrame(df_loc['point'].tolist(), index=df_loc.index)

In [ ]:
df_loc.head()