# Database Connection (pgAdmin)
Place this code at the top of a notebook file below the other dependencies to connect to pgAdmin and import the cleaned data.

In [2]:
# Import SQL Alchemy dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
import psycopg2
import mysql.connector
from config import db_password

In [3]:
# Connect to pgAdmin with psycopg2

# Configurations
try:
    connection = psycopg2.connect(
        host = 'whats-in-a-bottle.cuvwsdzowgas.us-west-1.rds.amazonaws.com',
        port = 5432,
        user = 'postgres',
        password = db_password,
        database = 'postgres'
        )
except:
    print("I am unable to connect to the database")
    
# Connection
cursor=connection.cursor()

In [11]:
#Read in Table 
cursor.execute("select * from cleaned_data")

#Convert table to pandas dataframe
cleaned_df = "select * from cleaned_data"

#Check DataFrame
wine_df = pd.read_sql(cleaned_df, con=connection)
wine_df = wine_df.apply(pd.to_numeric)
wine_df = wine_df.sort_values(by=['_c0'])
wine_df.head()

,_c0,points,price,country,designation,province,region_1,variety,winery,tokens,...,1,2,3,4,5,6,7,8,9,10
31,0,96.0,235.0,12,20,6,24,2,15,60.0,...,2701.0,16004.0,23236.0,28401.0,33079.0,39068.0,45330.0,46582.0,63420.0,66669.0
32,1,96.0,110.0,11,20,26,26,9,15,51.0,...,11481.0,33140.0,41643.0,46758.0,55709.0,59455.0,69650.0,79653.0,104662.0,106432.0
33,2,96.0,90.0,12,20,6,26,19,15,47.0,...,10077.0,26468.0,32151.0,49402.0,61157.0,64289.0,76272.0,88398.0,99749.0,119775.0
34,3,96.0,65.0,12,22,27,46,12,15,62.0,...,1546.0,4238.0,13171.0,15324.0,16356.0,25381.0,33140.0,46758.0,56257.0,67144.0
35,4,95.0,66.0,4,20,31,26,9,15,66.0,...,1546.0,17161.0,18176.0,31536.0,33140.0,48479.0,49526.0,65848.0,88378.0,90392.0

In [15]:
# Drop the id column (_c0) and check the datatypes
wine_df = wine_df.drop(['_c0'], axis=1)
wine_df.dtypes

points             float64
price              float64
country              int64
designation          int64
province             int64
region_1             int64
variety              int64
winery               int64
tokens             float64
filtered_tokens    float64
1                  float64
2                  float64
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
dtype: object