In [1]:
# initial imports
import pandas as pd
import numpy as np
from path import Path
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
!pip install psycopg2
!pip3 install mysql-connector-python-rf

Requirement already satisfied: psycopg2 in c:\users\paige\anaconda3\envs\pythondata\lib\site-packages (2.8.6)
Requirement already satisfied: mysql-connector-python-rf in c:\users\paige\anaconda3\envs\pythondata\lib\site-packages (2.2.2)

In [3]:
# Import SQL Alchemy dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
import psycopg2
import mysql.connector
from config import db_password

In [4]:
# Connect to pgAdmin with psycopg2
# Configurations
try:
    connection = psycopg2.connect(
        host = 'whats-in-a-bottle.cuvwsdzowgas.us-west-1.rds.amazonaws.com',
        port = 5432,
        user = 'postgres',
        password = db_password,
        database = 'postgres'
        )
except:
    print("I am unable to connect to the database")
# Connection
cursor=connection.cursor()

In [5]:
#Read in Table
cursor.execute("select * from cleaned_data")
#Convert table to pandas dataframe
cleaned_df = "select * from cleaned_data"
#Check DataFrame
wine_df = pd.read_sql(cleaned_df, con=connection)
wine_df = wine_df.apply(pd.to_numeric)
wine_df = wine_df.sort_values(by=['_c0'])
wine_df.head()

,_c0,points,price,country,designation,province,region_1,variety,winery,tokens,...,1,2,3,4,5,6,7,8,9,10
31,0,96.0,235.0,12,20,6,24,2,15,60.0,...,2701.0,16004.0,23236.0,28401.0,33079.0,39068.0,45330.0,46582.0,63420.0,66669.0
32,1,96.0,110.0,11,20,26,26,9,15,51.0,...,11481.0,33140.0,41643.0,46758.0,55709.0,59455.0,69650.0,79653.0,104662.0,106432.0
33,2,96.0,90.0,12,20,6,26,19,15,47.0,...,10077.0,26468.0,32151.0,49402.0,61157.0,64289.0,76272.0,88398.0,99749.0,119775.0
34,3,96.0,65.0,12,22,27,46,12,15,62.0,...,1546.0,4238.0,13171.0,15324.0,16356.0,25381.0,33140.0,46758.0,56257.0,67144.0
35,4,95.0,66.0,4,20,31,26,9,15,66.0,...,1546.0,17161.0,18176.0,31536.0,33140.0,48479.0,49526.0,65848.0,88378.0,90392.0

In [6]:
# Drop the id column (_c0) and check the datatypes
wine_df = wine_df.drop(['_c0'], axis=1)
wine_df.dtypes

points             float64
price              float64
country              int64
designation          int64
province             int64
region_1             int64
variety              int64
winery               int64
tokens             float64
filtered_tokens    float64
1                  float64
2                  float64
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
dtype: object

In [7]:
wine_df.head()

,points,price,country,designation,province,region_1,variety,winery,tokens,filtered_tokens,1,2,3,4,5,6,7,8,9,10
31,96.0,235.0,12,20,6,24,2,15,60.0,36.0,2701.0,16004.0,23236.0,28401.0,33079.0,39068.0,45330.0,46582.0,63420.0,66669.0
32,96.0,110.0,11,20,26,26,9,15,51.0,31.0,11481.0,33140.0,41643.0,46758.0,55709.0,59455.0,69650.0,79653.0,104662.0,106432.0
33,96.0,90.0,12,20,6,26,19,15,47.0,30.0,10077.0,26468.0,32151.0,49402.0,61157.0,64289.0,76272.0,88398.0,99749.0,119775.0
34,96.0,65.0,12,22,27,46,12,15,62.0,43.0,1546.0,4238.0,13171.0,15324.0,16356.0,25381.0,33140.0,46758.0,56257.0,67144.0
35,95.0,66.0,4,20,31,26,9,15,66.0,37.0,1546.0,17161.0,18176.0,31536.0,33140.0,48479.0,49526.0,65848.0,88378.0,90392.0

In [8]:
# find null values
for column in wine_df.columns:
    print(f"Column {column} has {wine_df[column].isnull().sum()} null values")

Column points has 0 null values
Column price has 0 null values
Column country has 0 null values
Column designation has 0 null values
Column province has 0 null values
Column region_1 has 0 null values
Column variety has 0 null values
Column winery has 0 null values
Column tokens has 0 null values
Column filtered_tokens has 0 null values
Column 1 has 0 null values
Column 2 has 0 null values
Column 3 has 0 null values
Column 4 has 0 null values
Column 5 has 0 null values
Column 6 has 0 null values
Column 7 has 0 null values
Column 8 has 0 null values
Column 9 has 0 null values
Column 10 has 0 null values

In [9]:
#Transform features
wine_df["1"] = wine_df["1"] / 100
wine_df["2"] = wine_df["2"] / 100
wine_df["3"] = wine_df["3"] / 100
wine_df["4"] = wine_df["4"] / 100
wine_df["5"] = wine_df["5"] / 100
wine_df["6"] = wine_df["6"] / 100
wine_df["7"] = wine_df["7"] / 100
wine_df["8"] = wine_df["8"] / 100
wine_df["9"] = wine_df["9"] / 100
wine_df["10"] = wine_df["10"] / 100
wine_df.head()

,points,price,country,designation,province,region_1,variety,winery,tokens,filtered_tokens,1,2,3,4,5,6,7,8,9,10
31,96.0,235.0,12,20,6,24,2,15,60.0,36.0,27.01,160.04,232.36,284.01,330.79,390.68,453.30,465.82,634.20,666.69
32,96.0,110.0,11,20,26,26,9,15,51.0,31.0,114.81,331.40,416.43,467.58,557.09,594.55,696.50,796.53,1046.62,1064.32
33,96.0,90.0,12,20,6,26,19,15,47.0,30.0,100.77,264.68,321.51,494.02,611.57,642.89,762.72,883.98,997.49,1197.75
34,96.0,65.0,12,22,27,46,12,15,62.0,43.0,15.46,42.38,131.71,153.24,163.56,253.81,331.40,467.58,562.57,671.44
35,95.0,66.0,4,20,31,26,9,15,66.0,37.0,15.46,171.61,181.76,315.36,331.40,484.79,495.26,658.48,883.78,903.92

In [10]:
# Define the features set.
X = wine_df.copy()
X = X.drop("country", axis=1)
X.head()

,points,price,designation,province,region_1,variety,winery,tokens,filtered_tokens,1,2,3,4,5,6,7,8,9,10
31,96.0,235.0,20,6,24,2,15,60.0,36.0,27.01,160.04,232.36,284.01,330.79,390.68,453.30,465.82,634.20,666.69
32,96.0,110.0,20,26,26,9,15,51.0,31.0,114.81,331.40,416.43,467.58,557.09,594.55,696.50,796.53,1046.62,1064.32
33,96.0,90.0,20,6,26,19,15,47.0,30.0,100.77,264.68,321.51,494.02,611.57,642.89,762.72,883.98,997.49,1197.75
34,96.0,65.0,22,27,46,12,15,62.0,43.0,15.46,42.38,131.71,153.24,163.56,253.81,331.40,467.58,562.57,671.44
35,95.0,66.0,20,31,26,9,15,66.0,37.0,15.46,171.61,181.76,315.36,331.40,484.79,495.26,658.48,883.78,903.92

In [11]:
# Define the target set.
y = wine_df["country"].values
y[:5]

array([12, 11, 12, 12,  4], dtype=int64)

In [12]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, train_size=0.80)

In [13]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(109733, 19)
(27434, 19)
(109733,)
(27434,)

In [14]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [15]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [16]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Fitting the Decision Tree Model

In [17]:
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [18]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [19]:
print(model)

DecisionTreeClassifier()

### Making Predictions Using the Tree Model

In [20]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

### Model Evaluation

In [21]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual Argentina", "Actual Austrailia", "Actual Austria", "Actual Chile", "Actual France", "Actual Germany", "Actual Italy", "Actual New Zealand", "Actual Other", "Actual Portugal", "Actual South Africa", "Actual Spain", "Actual US"], columns=["Predicted Argentina", "Predicted Austrailia", "Predicted Austria", "Predicted Chile", "Predicted France", "Predicted Germany", "Predicted Italy", "Predicted New Zealand", "Predicted Other", "Predicted Portugal", "Predicted South Africa", "Predicted Spain", "Predicted US"])

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [22]:
print(cm)

[[ 1065     0     0     0     4     0     0     0     0     0     0    13
      5]
 [    6   962     0     0     5     0     5     0     7     0     0     7
      4]
 [    0     0   413     4     0    27     0    10    17    13     4     0
      4]
 [    0     0     5  1082     0     2     0     5    35     9    19     0
      0]
 [    6    13     0     0  2885     0     3     0     6     0     0     5
      6]
 [    0     0    23     2     0   435     0    11     9     4     0     0
      0]
 [    3     5     0     0     5     0  3728     0     1     0     0     7
      3]
 [    0     0     7     8     0     7     0   537    11     2     4     0
      0]
 [    3     6    29    28     1     8     4    16   432    26    29     4
      5]
 [    0     0    22    12     0     9     0     2    12   773     8     0
      2]
 [    0     0     7    18     0     3     0    14    29     8   365     0
      1]
 [   13     5     0     0     4     0     5     0     3     0     0  1576
      1]
 [   10     3     1     1     6     2     3     1     6     4     2    11
  12433]]

In [23]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

,Predicted Argentina,Predicted Austrailia,Predicted Austria,Predicted Chile,Predicted France,Predicted Germany,Predicted Italy,Predicted New Zealand,Predicted Other,Predicted Portugal,Predicted South Africa,Predicted Spain,Predicted US
Actual Argentina,1065,0,0,0,4,0,0,0,0,0,0,13,5
Actual Austrailia,6,962,0,0,5,0,5,0,7,0,0,7,4
Actual Austria,0,0,413,4,0,27,0,10,17,13,4,0,4
Actual Chile,0,0,5,1082,0,2,0,5,35,9,19,0,0
Actual France,6,13,0,0,2885,0,3,0,6,0,0,5,6
Actual Germany,0,0,23,2,0,435,0,11,9,4,0,0,0
Actual Italy,3,5,0,0,5,0,3728,0,1,0,0,7,3
Actual New Zealand,0,0,7,8,0,7,0,537,11,2,4,0,0
Actual Other,3,6,29,28,1,8,4,16,432,26,29,4,5
Actual Portugal,0,0,22,12,0,9,0,2,12,773,8,0,2
Actual South Africa,0,0,7,18,0,3,0,14,29,8,365,0,1
Actual Spain,13,5,0,0,4,0,5,0,3,0,0,1576,1
Actual US,10,3,1,1,6,2,3,1,6,4,2,11,12433

Accuracy Score : 0.9727345629510826
Classification Report
              precision    recall  f1-score   support

           0       0.96      0.98      0.97      1087
           1       0.97      0.97      0.97       996
           2       0.81      0.84      0.83       492
           3       0.94      0.94      0.94      1157
           4       0.99      0.99      0.99      2924
           5       0.88      0.90      0.89       484
           6       0.99      0.99      0.99      3752
           7       0.90      0.93      0.92       576
           8       0.76      0.73      0.75       591
           9       0.92      0.92      0.92       840
          10       0.85      0.82      0.83       445
          11       0.97      0.98      0.98      1607
          12       1.00      1.00      1.00     12483

    accuracy                           0.97     27434
   macro avg       0.92      0.92      0.92     27434
weighted avg       0.97      0.97      0.97     27434

In [24]:
# List the features sorted in order by feature importance

features = model.feature_importances_
headings = X.columns

print("Feature Importances: Wine trends by Country")
sorted(zip(features, headings), reverse=True)

Feature Importances: Wine trends by Country

[(0.7501809905808567, 'province'),
 (0.10162149063213383, 'region_1'),
 (0.042091191323865296, 'variety'),
 (0.015775661856096284, 'price'),
 (0.009920004912161143, 'filtered_tokens'),
 (0.009509019337378162, 'points'),
 (0.008177284440616928, '1'),
 (0.007093324050985755, 'tokens'),
 (0.006867486441522191, '10'),
 (0.0060075554156260565, '5'),
 (0.005836860635867132, '2'),
 (0.005504050424592756, '6'),
 (0.005362129527067616, '4'),
 (0.005278822464926957, '3'),
 (0.005273463402803814, 'designation'),
 (0.005000465471829435, '7'),
 (0.004918487448025432, '9'),
 (0.004758604167210844, '8'),
 (0.000823107466433577, 'winery')]